@{
    ViewBag.Title = "Betervervoegen.nl";
}

<h2>Welkom op betervervoegen.nl</h2>

@*<p>Naar de test van vandaag</p>*@
@*http://channel9.msdn.com/Series/Building-Web-Apps-with-ASP-NET-Jump-Start/Building-Web-Apps-with-ASPNET-Jump-Start-02-Building-and-Deploying-Websites-with-ASPNET-MVC-4*@
@Html.ActionLink("Naar de test van vandaag", "Index", "Taaltest");