@model BeterVervoegen.BL.Taaltest
@{
    ViewBag.Title = "Taaltest";
}
@section Styles {
    <link href="@Url.Content("~/Content/FormStyle.css")" rel="stylesheet" type="text/css" />
}
<h2>
    Taaltest van vandaag</h2>
@*http://stackoverflow.com/questions/12883869/grouping-radio-buttons-in-c-sharp-mvc*@
<div class="test">
    @using (Html.BeginForm())
    {
        for (int i = 0; i < Model.vragen.Count(); i++)
        {
        @Html.EditorFor(x => x.vragen[i], "TestDeel")
        }

        <input type="submit" />
    }
</div>
