@model BeterVervoegen.Models.LoginVm
@using BeterVervoegen.Helpers
@{
	if (Model != null)
	{
	<p>Welkom @Html.DisplayFor(x => x.Username)! - @Html.ActionLink("Uitloggen", "LogOut", "Account")</p>
	}
	else
	{
	<p>U bent niet ingelogd.</p>
	}
}
@*<pre>
	@Html.TimedRedirectToUrl(3000, "Index", "Home")
</pre>*@
