@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
@*18*@
<div class="span-16">
    <div class="span-2">
        <p>
            Onderdeel</p>
    </div>
    <div class="span-12">
        <p>
            Opmerkingen</p>
    </div>
    <div class="span-2 last">
        <p>
            Actie</p>
    </div>
</div>
<div class="span-16">
    <div class="span-2">
        <p>
            1</p>
    </div>
    <div class="span-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor
            sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="span-2 last">
        <p>
            X</p>
    </div>
</div>
<div class="span-16">
    <div class="span-2">
        <p>
            2</p>
    </div>
    <div class="span-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor
            sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor
            sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.</p>
    </div>
    <div class="span-2 last">
        <p>
            X</p>
    </div>
</div>
<div class="span-16">
    <div class="span-2">
        <p>
            3</p>
    </div>
    <div class="span-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="span-2 last">
        <p>
            X</p>
    </div>
</div>
