@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
@*18*@
<div class="span-2">
    <p>
        Test datum</p>
    <p>
        2013 06 23</p>
    <p>
        2013 06 22</p>
    <p>
        2013 06 21</p>
</div>
<div class="span-14">
    <p>
        Opmerkingen</p>
    <p>
        opk1</p>
    <p>
        opk2</p>
    <p>
        opk3</p>
</div>
<div class="span-2 last">
    <p>
        Actie</p>
    <p>
        X</p>
    <p>
        X</p>
    <p>
        X</p>
    <p>
        +</p>
</div>
